.card {
  border-radius: 5px;
  border: #808285 solid 3px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  min-height: 325px;
  width: 338px;
  margin: 1rem;
  position: relative;
  text-align: left;
}

.theHeader {
  background: #BF311A;
  color: white;
  min-height: 80px;
  vertical-align: middle;
}

.card > .content {
  padding: 5px;
  font-size: 15px;
}


